html {
  background: whitesmoke;
}

/* .gameContainer {
  position:absolute;
  background: red;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
} */

.menu {
  width: 300px;
  height: 350px;
  background: #ff0000;
}

.gameField {
  width: 300px;
  height: 350px;
  background: grey;
}

.pause {
  width: 300px;
  height: 350px;
  background: orange;
}

.finish {
  width: 300px;
  height: 350px;
  background: purple;
}

.death {
  width: 300px;
  height: 350px;
  background: magenta;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.grid {
    position: absolute;
    width: 300px;
    height: 350px;
   /* background: url("../art/lol.png") no-repeat;
    background-size: cover; */
    border: solid 1px black;    
  }

  .block {
    position: absolute;
    width: 50px;
    height: 10px;
    background-image: url("../art/block.png");
    /* background: red; */
  }

  .paddle {
    position: absolute;
    width: 50px;
    height: 10px;
    background: purple;
  }

  .ball {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: green;
  }
