html {
  background: whitesmoke;
}

/* -----------------------MAIN GRID----------------------- */

.grid {
    position: absolute;
    width: 400px;
    height: 450px;
   /* background: url("../art/lol.png") no-repeat;
    background-size: cover; */
    border: solid 1px black;    
  }

/* -----------------------BLOCKS----------------------- */

  .block {
    position: absolute;
    width: 55px;
    height: 13px;
    /* background-image: url("../art/block.png"); */
    background: red;
    border-radius: 5px;
  }

  /* -----------------------PADDLES----------------------- */

  .paddleEasy {
    position: absolute;
    width: 80px;
    height: 13px;
    background: purple;
    border-radius: 15px;
  }

  .paddleMedium {
    position: absolute;
    width: 55px;
    height: 13px;
    background: purple;
    border-radius: 15px;
  }

  .paddleHard {
    position: absolute;
    width: 35px;
    height: 13px;
    background: purple;
    border-radius: 15px;
  }

/* -----------------------BALLS----------------------- */

  .ballEasy {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    background-color: green;
  }

  .ballMedium {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    position: absolute;
    background-color: green;
  }

  .ballHard {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    background-color: green;
  }

/* -----------------------GAME STATES----------------------- */
.mainMenu {
  width: 400px;
  height: 450px;
  background: #ff0000;
}

.gameMenu {
  width: 400px;
  height: 450px;
  background: yellow;
}

.howToMenu {
  width: 400px;
  height: 450px;
  background: cyan;
}

.gameField {
  width: 400px;
  height: 450px;
  background: grey;
}

.pause {
  width: 400px;
  height: 450px;
  background: orange;
}

.finish {
  width: 400px;
  height: 450px;
  background: purple;
}

.death {
  width: 400px;
  height: 450px;
  background: magenta;
}




.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}
